
:root {
--bg-color: #181818;
--text-color: #e4e4e4;
--bg2-color: #242424;
--bg3-color: #303030;
--bg2-text: #bbb;
--btn-bg: #333;
--btn-text: #fff;
--border-color: #444;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.content{
    margin:auto;
    height: 800px;
    width: 800px;
    background-color: var(--bg2-color);
    border-radius: 20px;
    display: flex;
}

.weatherScene{
    border-radius: 20px;
    width: 200px;
    height: 100%;
}

.doorImg{
    border-radius: 20px 0 0 20px;
    width: 200px;
    height: 100%;
    object-fit: cover;
    object-position: 80% 100%;

}
.weatherGif{
    border-radius: 20px 0 0 20px;
    width:100%;
    height: 100%;
    object-fit: cover;
}

.weatherContent{
    background-color: var(--bg3-color);
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 20px 20px 0px;
    gap: 15px;

}
form{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

label{
    font-size: 50px;
    padding-top: 30px;
}

input{
    width: 90%;
    padding: 10px;
    border: 0px solid var(--border-color);
    border-radius: 15px;
    font-size: 14px;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}

.results{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.currTemp{
    font-size: 100px;
    height: 150px;
}

.currIcon{
    width: 100px;
    height: 100px;
}